/*body*/

body {
  background-image: url(https://wallpapercave.com/wp/wp9100295.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.bodyc{
  background-image: url(https://wallpapercave.com/wp/wp9100295.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-height: 100%;
}
}

/* imagen print 3d*/
.cabecera {
  position: relative;
  display: inline-block;
}
.texto1 {
  position: absolute;
  left: 7%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200px;
  color: white;
}

/*css barra navegacion*/
ul {
  list-style: none;
}

.menu1 {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.menu1 > li {
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.menu1 li a {
  background-color: white;
  background-size: cover;
  min-height: 100%;
  color: black;
  text-decoration: none;
  padding: 12px 18px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.menu1 li a:hover {
  background-color: #a6d6b5;
}
  
.menu1 li:hover > ul {
  display: block;
}

.menu1 li ul li {
  position: relative;
  margin-right: 10%;
}

.menu1 li ul li ul {
  right: -140px;
  top: 0px;
  margin-right: 10%;
}


/*todo el contenido*/

.texto2 {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: white;
}

.antes {
  font-size: xx-large;
  text-align: center;
  color: white ;
}
.quees{
  text-align: center;
  color: white;
}

.article1 {
  text-align: center;
  color: white;
}
.print {
  
  display: block;
  /*background-color: #fafafa;*/
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.imageintro {
  position: relative;  
  float: inline-end;
  text-align: center;
}

.ubicacionimp{
  margin-left: 30%;
  margin-right: 30%;
}


/*formulario contacto*/
.formacontacto {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 30px;
}

input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2d31fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2d31fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #2d31fa;
  border-color: #2d31fa;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #2d31fa;
}
.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.tform {
  font-size: 39px;
  text-align: left;
  padding-bottom: 20px;
  color: #2d31fa;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/*body index*/
.cuerpo {
  background-image: url(https://wallpapercave.com/wp/wp9100295.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-height: 100%;
  min-height: 100%;
}

/*tipos impresoras*/

.p2{
  color: white;
}

.articulo2{
  text-align: center;
  color: white;
}

.div4 {
  display: block;
  /*background-color: #fafafa;*/
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


/*imagenes tipo impresoras*/
.image3 {
  position: relative;
  float: inline-end;
}

/*tipo material*/

.art1{
  text-align: center;
}

.pp{
  color: white;
}

.intro{
  display: block;
  /*background-color: #fafafa;*/
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


/* div tablas  tipo material */
.div6 {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #000000;
  font-size: xxlarge;
  font-family: Arial, Helvetica, sans-serif;
}

/* titulos tablas material*/
.ttabla2 {
  text-align: center;
  color: #000000;
  font-size: xxlarge;
  font-family: Arial, Helvetica, sans-serif;
}

/* tabla 1 material*/
.tabla {
  text-align: center;
  border-collapse: collapse;
  border: #5d8bf4;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/284/312/36/colorful-blurred-vertical-portrait-display-wallpaper-preview.jpg);
  min-height: 100%;
  background-size: cover;
  width: 1200px;
  height: 500px;
}

/* tabla 2 material*/
.ttabla3 {
  text-align: center;
  color: #000000;
  font-size: xxlarge;
  font-family: Arial, Helvetica, sans-serif;
}

.tabla3 {
  text-align: center;
  border-collapse: collapse;
  border: #5d8bf4;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/284/312/36/colorful-blurred-vertical-portrait-display-wallpaper-preview.jpg);
  min-height: 100%;
  background-size: cover;
  width: 1200px;
  height: 500px;
}


/* pie de pagina */
footer{
  padding: 0;
  background-color: black ;
  color:#4b4c4d
}

footer ul{
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

footer li{
  padding: 0 10px;
}

iframe{
  margin-left: 30%;
  margin-right: 35%;
}

/*galeria*/
.bg{
  padding: 20px;
  font-family: sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp9100295.jpg);
  margin: 0;
  height: 100vh;
  min-height: 100%; 
}


.imgg{
  width: 100%;
  height: auto;
}

.tg{
  margin-bottom: .5em;
  text-align: center;
  font-size: 50px;
  color: white;
}
.subtg{
  margin-bottom: .5em;
  text-align: center;
  font-size: 30px;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em; 
}

.imagen1{
  line-height: 0;
  overflow: hidden;
}

.imagen1 .imgg{
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.f1:hover .imagen1 .imgg{
  filter: blur(2px);
}





