
/*body general*/

body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

/*style index*/

.cuerpo {
  margin: 0;
  height: 100vh;
  min-height: 100%;
  min-height: 100%;
}

.article1 {
  text-align: center;
  color: black;
}

.print {
  display: block;
  /*background-color: #fafafa;*/
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}


.antes {
  font-size: xx-large;
  text-align: center;
  color: black;
}

.texto2 {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;
}

/*Style tipo impresoras*/

/*SLA*/

#cardsla{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#vidsla{
  margin-left: 20%;
}

/*inyeccion*/
.articulo2 {
  text-align: center;
  color: black;
}

.div4 {
  display: block;
  /*background-color: #fafafa;*/
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/*FDM*/

/*tipo material*/


#carda{
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-right: 5%;
}

#cardb{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#cardc{
  margin-top: 2%;
  margin-bottom: 2%;
}

#cardd{
  margin-top: 2%;
  margin-bottom: 2%;
}
#carde{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardf{
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardg{
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardh{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardi{
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardj{
  margin-top: 2%;
  margin-bottom: 2%;
}
#cardk{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
}
#cardl{
  width: 1200px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15%;
}

/*consejos*/

.consejo {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}


.card-deck{
  border-color: #000000;
  width: 1800px;
}

#card1 {
  background-color: #000000;
  color: #fbfbfb;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
}

#card2 {
  background-color: #000000;
  color: #fbfbfb;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card3 {
  background-color: #000000;
  color: #fbfbfb;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card4 {
  background-color: #000000;
  color: #fbfbfb;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card5 {
  background-color: #000000;
  color: #fbfbfb;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card6 {
  background-color: #000000;
  color: #fbfbfb;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card7{
  background-color: #000000;
  color: #fbfbfb;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#card8{
  background-color: #000000;
  color: #fbfbfb;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*galeria*/

.bg {
  background-image: url(https://wallpapercave.com/wp/wp9100295.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.tg {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 50px;
  color: black;
}

.subtg {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 30px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.imagen1 {
  line-height: 0;
  overflow: hidden;
}
.imgg {
  width: 100%;
  height: auto;
}

.imagen1 .imgg {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.f1:hover .imagen1 .imgg {
  filter: blur(2px);
}

/*contacto*/

.bodyc {
  margin: 0;
  height: 100vh;
  min-height: 100%;
}

.formacontacto {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 30px;
}

input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2d31fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #2d31fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #2d31fa;
  border-color: #2d31fa;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #2d31fa;
}
.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.tform {
  font-size: 39px;
  text-align: left;
  padding-bottom: 20px;
  color: #2d31fa;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}